<% @products.each do |product| %>
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag product.image_url %>
  </p>
<% end %>